.edit {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.desc {
  width: 100%;
  border: none;
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  width: 95%;
}

form {
  display: flex;
}

#label-container {
  width: 100%;
}

.task-edit {
  border: none;
}

.todo-container {
  width: 650px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

input:focus {
  outline: none;
}

.todoTextField {
  width: 100%;
  border: none;
  margin: 10px 0;
}

label {
  margin: 10px 0;
}

::placeholder {
  text-decoration-style: wavy;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-container {
  text-align: center;
}

.hide {
  display: none;
}
